@media screen and (min-width: 600px) {
   .banner{
      
   }
  }

.icon-undo:before {
content: "\e965";
}
.icon-circle-right:before {
content: "\ea42";
}

.highlight{
  font-weight: 500;
  font-style: italic;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

.footer {
  margin-top: auto;
}

.tooltip.is-tooltip-multiline::before {
  white-space: pre-line !important;
}
