@media screen and (max-width: 600px) {
  .columns {
    margin-left: 0rem;
    margin-right: 0rem; 

}
  }

.icon-undo:before {
content: "\e965";
}
.icon-circle-right:before {
content: "\ea42";
}

.highlight{
  font-weight: 500;
  font-style: italic;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

.footer {
  margin-top: auto;
}

.tooltip.is-tooltip-multiline::before {
  white-space: pre-line !important;
}
