@media screen and (max-width: 1024px) {
  .columns {
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
}
  }

.columns {
  margin: 0;
}
  
.icon-undo:before {
content: "\e965";
}
.icon-circle-right:before {
content: "\ea42";
}

.highlight{
  font-weight: 500;
  font-style: italic;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

.footer {
  margin-top: auto;
}

.tooltip.is-tooltip-multiline::before {
  white-space: pre-line !important;
}
